body{
    background-color: black;
}
.main-div{
    text-align: center;
}
.main-div h2{
    width: 100%;
    background-color:antiquewhite;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second-div{
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 100px 100px;
    margin: 50px 350px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.second-div p{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.second-div .no{
    border-radius: 3px;
    text-align: center;
    color:whitesmoke;
    background-color: grey;
}
.image-div{
    margin-top: 10px;
    text-align: right;
}
.image-div img{
    width: 300px;
}
.image-div p{
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}